<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我们是冠军</title>
    <link rel="stylesheet" href="../static/CSS/navbar.css">
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link rel="stylesheet" href="../static/CSS/miserable.css">
    <link rel="shortcut icon" href="../../IMG/iconLogo.png">
</head>
<body>
    <!-- logo，搜索，登录 -->
    <div class="slice_inner">
        <div class="flex_div">
            <div class="block_logo">
                <a href="../index/index.html">
                    <img src="../../IMG/logo.png" class="logo_img">
                </a>
            </div>
            <div class="search_div">
                <form>
                    <input type="text" placeholder="搜索你感兴趣的事情" class="search_form">
                </form>
            </div>
            <div class="search_button_div">
               <button class="search_button button_change">搜索</button>
            </div>
            <div class="block_button">
                <button class="login_button button_change" id="loginButton">
                    加入我们
                </button>
            </div>
        </div>
    </div>
    <!-- logo，搜索，登录 -->

    <!-- 导航栏 -->
    <div class="navbar">
        <div class="navbar_inslice">
            <div class="guide">
                <nav class="header_nav">
                    <ul class="header_nav_ul">
                        <li class="header_nav_li">
                            <a class="normala" id="changeTheA1" href="../index/index.html">主页</a>    
                        </li>
                        <li class="header_nav_li">
                            <a class="Invaginationa" id="changeTheA2" href="../past events/miserable.html">历史发展</a>
                            <ul class="dropdown-contentFirst">
                                    <li class="dropdownLi">
                                        <a href="../past events/candar.html">日历</a>
                                    </li>
                            </ul>
                        </li>
                        <li class="header_nav_li">
                            <a class="normala" id="changeTheA3" href="../about us/usInformation.html">关于我们</a>
                            <ul class="dropdown-contentSecond">
                                <li class="dropdownLi"><a href="../users/feedback.html">反馈</a></li>
                            </ul>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- 导航栏 -->

    <!-- 历史介绍栏 -->
    <div class="mainBody">
        <div class="vidoBox">
            <div class="onImgbox"></div>
            <img src="../../IMG/blankshark1.jpg">
        </div>
        <div class="remenberBox">
            <div class="HistoryTitle"><h2>Major冠军</h2></div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>人类很早就对鲸有深刻的记载,早在中国晋朝崔豹的《古今注》就有记载。捕鲸始于19世纪后半，人类开始滥捕鲸鱼以获取鲸油等物品。</h2>
                </div>
                <img src="../../IMG/history.jpg">
            </div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>19世纪后半，捕鲸业引进蒸气动力的船只，和鱼叉的出现也对鲸鱼造成冲击，因为它可以让捕鲸业者能够猎杀及固定被捕的鲸鱼。人类开始对鲸鱼进行大量屠杀</h2>
                </div>
                <img src="../../IMG/history2.jpg">
            </div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>其中美国近代史上捕鲸业相当发达，从1800到1860年间，纽莱德福出发的捕鲸船有多达每年三千非裔人，占到了捕鲸业大军的二成。</h2>
                </div>
                <img src="../../IMG/history1.jpg">
            </div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>在具有船尾平台的蒸气船于1925年出现后，每年的捕鲸数量大量增加.在中国，1955年和1958年旅大水产公司分别在黄海北部试捕小鳁鲸，长须鲸成功。</h2>
                </div>
                <img src="../../IMG/history3.jpg">
            </div>
            <div class="HistoryTitle"><h2>近代捕鲸的演变</h2></div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>国际捕鲸委员会1982年通过《全球禁止捕鲸公约》，禁止商业捕鲸，但允许捕鲸用于科学研究。1986年国际《禁止捕鲸公约》生效后，世界各国宣布放弃商业捕鲸，包括日本。</h2>
                </div>
                <img src="../../IMG/modern.jpg">
            </div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>但是现如今日本通过所谓的科研调查对鲸豚进行大量的捕杀，不顾国际压力继续进行该行为。并且毫无廉耻之心。</h2>
                </div>
                <img src="../../IMG/crime2.jpg">
            </div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>现如今海洋公园的鲸豚表演已绝大部分代替捕鲸，但鲸豚表演对鲸豚的伤害可同捕鲸相并论。海洋馆获取鲸豚的行为同时也在助长捕鲸的气焰</h2>
                </div>
                <img src="../../IMG/4.jpg">
            </div>
            <div class="HistoryTitle"><h2>我们倡议禁止鲸豚表演</h2></div>
            <div class="OlistHistory">
                <div class="SynopsisBox">
                    <h2>美丽灵气的鲸豚不该被束缚在牢笼里，它们属于美丽的大自然。人们更应该看到的是他们在野外欢快的场，而不是囚禁在海洋馆的画面。</h2>
                </div>
                <img src="../../IMG/0.jpg">
            </div>
        </div>
    </div>
    <!-- 历史介绍栏 -->
</body>
</html>